<div class="commands-container">
    <div class="commands-container-list">
        <h2 class="commands-container-list-title">Categorias</h2>
        <ul class="commands-container-list-ul">
            <%const categoires = commands.map(c=>c.category).filter((e, i, a)=>a.indexOf(e)===i)%>
            <li onclick="toggleCategories(this)"><a><%-categoires.join('</a></li>\n<li onclick="toggleCategories(this)"><a>')%></a></li>
        </ul>
    </div>
    <div class="commands-container-info">
        <div class="commands-container-command-name">
            <h2 id="category-name"><%=categoires[0]%></h2>
            <div class="commands-container-command-name_button">
                <span onclick="activeBar()" class="material-icons md-32">reorder</span>
            </div>
        </div>
        <div class="commands-container-info-content">
            <div>
                <% commands.filter(c=>c.category == categoires[0]).forEach(function(command) { %>
                <div class="cards">
                    <h4><%=command.type=='slash'?'/':'>'%><%=command.name%></h4>
                    <p><%=command.description%></p>
                    <div class="cards-content card-active">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eius debitis libero maiores beatae quidem delectus eligendi. Perferendis facere itaque necessitatibus, quas dolor fugit quod architecto officia provident nisi autem!</p>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<script>

    function toggleCategories(e){
        console.log(e);
        document.getElementById('category-name').innerHTML = e.children[0].innerHTML
        fetch('https://oneki.herokuapp.com/api/lang/en/cmd/Entertainment').then(r => r.json()).then(category => {
            console.log(category);
        })
    }
    
    function activeBar() {
        const bar = document.querySelector(".commands-container-list");
        bar.classList.toggle("commands-container-list-active");
    }
</script>