<div class="commands-container">
    <div class="commands-container-list">
        <h2 class="commands-container-list-title">Categorias</h2>
        <ul class="commands-container-list-ul">
            <%const categoires = commands.map(c=>c.category).filter((e, i, a)=>a.indexOf(e)===i)%>
            <li><a><%-categoires.join('</a></li>\n<li><a>')%></a></li>
        </ul>
    </div>
    <div class="commands-container-info">
        <div class="commands-container-command-name">
            <h2><%=categoires[0]%></h2>
        </div>
        <div class="commands-container-info-content">
            <div>
                <% commands.filter(c=>c.category == categoires[0]).forEach(function(command) { %>
                <div class="cards">
                    <h4><%=command.type=='slash'?'/':'>'%><%=command.name%></h4>
                    <p><%=command.description%></p>
                    <div class="cards-active">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod eius debitis libero maiores beatae quidem delectus eligendi. Perferendis facere itaque necessitatibus, quas dolor fugit quod architecto officia provident nisi autem!</p>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<script>
    const ul = document.getElementsByClassName("category")
    let actualCategory = ul[0].getElementsByTagName('a')[0].innerHTML
    const updateCategory = (c) => {
        ul
    }
    for (const ulElement of ul) {
        if(ulElement.getElementsByTagName('a')[0].innerHTML != actualCategory) ulElement.classList.remove('commands__list-active')
        ulElement.addEventListener('onclick', b => {
            document.getElementById('category').innerHTML = actualCategory
        })
    }
    document.getElementById('category').innerHTML = actualCategory
</script>