<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake Discord Message</title>
    <link rel="stylesheet" href="/css/fakeDiscordMessage.css">
</head>
<body class="theme-dark">
    <div class="message-2qnXI6 group-spacing-16 cozyMessage-3V1Y8y groupStart-23k01U wrapper-2a6GCs cozy-3raOZG zalgo-jN1Ica"
        role="listitem" data-list-item-id="chat-messages___chat-messages-821455172752244777" tabindex="-1"
        id="chat-messages-821455172752244777">
        <div class="contents-2mQqc9" role="document"><img
                src="<%-AvatarUrl%>"
                aria-hidden="true" class="avatar-1BDn8e clickable-1bVtEA" alt=" ">
            <h2 class="header-23xsNx"><span class="headerText-3Uvj1Y"><span class="username-1A8OIy clickable-1bVtEA" aria-controls="popout_101" aria-expanded="false" role="button" tabindex="0" style=<%-`"color: ${UserColor}"`%>><%-UserName%></span><% if (Bot) { %><span class="botTagCozy-1fFsZk botTag-1un5a6 botTagRegular-2HEhHi botTag-2WPJ74 rem-2m9HGf"><% if (Verified) { %><svg aria-label="Bot verificado" class="botTagVerified-1klIIt" aria-hidden="false" width="16" height="16" viewBox="0 0 16 15.2"><path d="M7.4,11.17,4,8.62,5,7.26l2,1.53L10.64,4l1.36,1Z" fill="currentColor"></path></svg><% } %><span class="botText-1526X_">BOT</span></span><% } %></span><span class="timestamp-3ZCmNB"><span aria-label="16/03/2021"><i class="separator-2nZzUB" aria-hidden="true"> — </i> <%-Time%></span></span></h2>
            <div class="markup-2BOw-j messageContent-2qWWxC"><%-Text%></div>
        </div>
    </div>
</body>
</html>